@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$body-font: 'Poppins', sans-serif;

$pink: #fcc0c5;
$purple: #7f73e3;
$darkgrey: #a2a2a2;

$transition: all 0.5s ease;